:root {
  --bg-width: 100px;
  --bg-color: #E5E5E5;
  --txt-color: #808080;
}

body {
  background-image: url(suruleredotdev_background.svg);
  background-size: 100px;
}

#logo {
}

#tagline {
  background-color: var(--bg-color);
  color: var(--txt-color);
}
