---
layout: default
---

{% include map.html %}

<style>
    /* special animations on page load */
    @-webkit-keyframes moveLeft {
        0% {
            margin-left: calc(4 * var(--bg-size));
        }
        100% {
            margin-left: calc(2 * var(--bg-size));
        }
    }

    @-webkit-keyframes growToFillFrame {
        0% {
            margin-left: calc(4 * var(--bg-size));
        }
        100% {
            margin-left: calc(2 * var(--bg-size));
        }
    }

    @-webkit-keyframes scaleDown {
        0% { width: calc(2 * var(--bg-size)); }
        100% { width: var(--bg-size); }
    }

    #content.map {
        height: fit-content;
    }

    @media screen and (min-width: 600px) {
        #logo img {
            animation: scaleDown ease 500ms;
            width: var(--bg-size);
            margin-left: calc(2 * var(--bg-size));
        }
    }
    @media screen and (max-width: 1200px) {
        #tool-body {
           flex-direction: column; 
        }
        .MAP {
            height: calc(12 * var(--bg-size));
            width: calc(12 * var(--bg-size)) !important;
        }
        .MAP-container {
            width: 100% !important;
        }
    }
    @media screen and (min-width: 1200px) {
        #tool-body {
           flex-direction: row; 
        }
         .MAP {
            height: calc(12 * var(--bg-size));
            width: calc(18 * var(--bg-size)) !important;
        }
        .MAP-container {
            width: calc(18* var(--bg-size)) !important;
        }

    }
    input:focus                   { opacity: 1; outline: none;}
    input.title[value="Untitled"] { opacity: 0.5; }

    input.setting {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
    }
    .LIGHT input.setting  { border-bottom: 1px dashed var(--txt-color-dark); }
    .DARK  input.setting  {border-bottom: 1px dashed var(--title-color);  }  

    #map-settings {
        width: calc(9 * var(--bg-size)) !important;
    }
    .map-setting {
        height: calc(0.75 * var(--bg-size));
    }
    .map-setting > label, .map-setting > input {
        min-height: calc(0.75 * var(--bg-size));
    }
    .map-setting > label { padding-top: calc(0.2 * var(--bg-size)); }

    .map-settings-subgroup {
        border-left: 1px solid #AAAAAA;
        padding-left: 10px;
    }
</style>

<script iframe-script>
if (window.location !== window.parent.location) {	  
    // The page is in an iframe	
    // TODO: only show map frame and controls if 
}
</script>

<script map-script>
    function valueOrDefault(input) {
        return (!!input.value) ? input.value : input.placeholder;
    }

    // proxy for reactive values from <input>s in DOM 
    // state is stored in the elements themselves (this.el), with get and set hooks and an change listener

    // DO NOT CHANGE
    // TODO: expand this to support trees of state
    function I(id, initVal = null, syncToUrl = true) {
        this.id = id;
        this.el = document.getElementById(id); // the actual state is stored first in the DOM elements
        if (!!initVal) {
           this.el.value = initVal ;
        }
        // default event handlers
        this.update = function(val) {
            console.log(`I.onchange: ${id} changed to '${val}' – onchange unset`);
        };
        //  attempt to get inital value from query params
        let query = (new URL(window.location)).searchParams;
        let param = query.get(this.el.id.replace(new RegExp('-setting$'), ''));
        console.log('el: ', this.el.id);
        if (!!param) {
            this.el.value = param;
            let setting = this;
            setTimeout(function() { 
                console.log(`initializing ${id} from URL params`);
                setting.update(param);
            }, 100);
        }
    }
    I.prototype.get = function() {
        return valueOrDefault(this.el);
    }
    I.prototype.set = function(valOrFn, update = true /* trigger change update */) {
        this.el.value = 
            (valOrFn && {}.toString.call(valOrFn) === '[object Function]') 
            ? valOrFn(this.el.value) 
            : valOrFn;
        if (update) {
            this.update(this.el.value);
        }
        let query = (new URL(window.location)).searchParams;
        query.set(this.el.id.replace(new RegExp('-setting$'), ''), this.el.value);
        // update URL query params without reloading page
        if (history.pushState) {
            var newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?' + query.toString();
            window.history.pushState({ path: newUrl }, '', newUrl);
        }
    }

    function logError(msg) {
        document.getElementById('settings-error').style.display = "block";
        document.getElementById('settings-error-msg').innerHTML = msg + "</br>";
    }

    function hideError() {
        document.getElementById('settings-error').style.display = "none";
        document.getElementById('settings-error-msg').textContent = "";
    }

    let mapTitle,
        attribution,
        tileLayerUrl,
        tileLayer,
        coord = [6.498820462853738, 3.3958632487106137],
        zoom = 5,
        mapData, mapDataLayers = [],
        map;

    window.addEventListener('DOMContentLoaded', function (event) {
        hideError();

        // DEFAULT VALUES
        mapTitle = new I("map-title");
        attribution = new I("attribution-setting");
        tileLayerUrl = new I("tile-layer-setting");
        zoom = new I("zoom-setting");
        coord = [new I("coord-lon-setting"), new I("coord-lat-setting")];
        mapData = new I("import-data-setting");
        
        let settings =  [
            mapTitle, attribution, tileLayerUrl, zoom, coord, mapData,
        ]

        map = L.map('map').setView([coord[0].get(), coord[1].get()], 9);
        map.on('moveend', function(e) {
            zoom.set(map.getZoom(), false);
            let center = map.getCenter();
            coord[0].set(center.lat, false);
            coord[1].set(center.lng, false);
        });

        tileLayer = L.tileLayer(tileLayerUrl.get(), {
            zoom: zoom.get(),
            maxZoom: 19,
            subdomains: ['mt0','mt1','mt2','mt3'],
            attribution: attribution.get()
        }).addTo(map);
        
        zoom.update = function(val) { map.setView([coord[0].get(), coord[1].get()], val); }
        coord[0].update = function(val) { map.setView([val, coord[1].get()], zoom.get()); }
        coord[1].update = function(val) { map.setView([coord[0].get(), val], zoom.get()); }
        tileLayerUrl.update = function(val) { 
            // TODO: make this multi-select and track multiple layers
            map.removeLayer(tileLayer);
            tileLayer = L.tileLayer(val);
            map.addLayer(tileLayer);
        }
        attribution.update = function(val) { 
            map.attributionControl.removeAttribution(val);
            map.attributionControl.addAttribution(val);
        }
        mapData.update = function (val) {
            let datasets = val.split(',');
            for (var i = 0; i < mapDataLayers.length; i++) {
                map.removeLayer(mapDataLayers[i]);
            }
            mapDataLayers = [];
            for (var i = 0; i < datasets.length; i++) {
                let ext = datasets[i].split('.').pop();
                if(!!omnivore[ext]) {
                    let layer = omnivore[ext](datasets[i]);
                    mapDataLayers.push(layer);
                    layer.addTo(map);
                    hideError();
                } else {
                    logError(`bad data url: ${datasets[i]}`);
                }
            }
        }
    });
</script>

<div id="content" class="map post pa3 pa5-ns mt6-l mh7-l f5">
    <div id="tool-header" class="flex flex-row ma0 pb2 b">
        <div class="b f7 o-40 flex flex-column fw5 ba pa1 dib" style="width: fit-content">
            <span class="dib" style="width: fit-content">MAP </span>
            <span class="dib" style="width: fit-content">EDITOR</span>
        </div>

        <input 
            id="map-title"
            name="map-title"
            class="title ph3 ma0 f2 bg-transparent b--transparent"
            oninput="mapTitle.set(event.target.value)" 
            onmousedown="event.target.value = 'Untitled'"
            onmouseup="event.target.select()"
            placeholder="Untitled"/>
    </div>

    <div id="tool-body" class="flex">
        <div class="MAP-container flex flex-row">
            <div id="map" class="MAP"></div>
            
        </div>

        <div id="map-settings" class="map-settings flex flex-column pa3 ma1 pt0 f7">
            <div class="f7 o-40 fw5 bb pa1 pt2" style="width: fit-content">
                <span style="width: fit-content">SETTINGS</span>
            </div>
            <br/>

            <div class="map-setting flex flex-row h1 ma1">
                <label for="tile-layer-setting" class="fw5 w-30 dib">TILE LAYER:</label> 
                <input 
                    id="tile-layer-setting"
                    name="tile-layer"
                    placeholder= "https://tile.openstreetmap.org/{z}/{x}/{y}.png"
                    onmousedown="if (!event.target.value) tileLayerUrl.set(event.target.placeholder)"
                    onmouseup="event.target.select()"
                    onchange="tileLayerUrl.set(event.target.value)"
                    type="text"
                    class="setting bg-transparent w-70 pa0 dib"/>
                <br/>

            </div>
            <div class="map-settings-subgroup ml2">
                <div class="map-setting flex flex-row h1 ma1">
                    <label for="attribution-setting" class="fw5 w-30 dib">ATTRIBUTION:</label> 
                    <input 
                        id="attribution-setting"
                        name="attribution"
                        placeholder="&copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a> contributors"
                        onmousedown="if (!event.target.value) attribution.set(event.target.placeholder)"
                        onmouseup="event.target.select()"
                        onchange="attribution.set(event.target.value)"
                        class="setting bg-transparent w-70 pa0 dib"/>
                </div>
            </div>
            <div class="map-setting-group flex flex-row flex-nowrap">
                <div class="map-setting flex flex-row h1 ma1 mr4 w-60 dib">
                    <label for="coord-setting" class="fw5 w-50 dib">COORDS:</label> 
                    <input 
                        id="coord-lon-setting" 
                        name="coord-lon"
                        placeholder="LON"
                        value="6.498820462853738"
                        onmouseup="event.target.select()"
                        onchange="coord[0].set(event.target.value)"
                        class="setting bg-transparent w-20 pa0 mr1 db"/>
                    <span class="pt3">,</span>
                    <input 
                        id="coord-lat-setting" 
                        name="coord-lat"
                        placeholder="LAT"
                        value="3.3958632487106137"
                        onmouseup="event.target.select()"
                        onchange="coord[1].set(event.target.value)"
                        class="setting bg-transparent w-20 ml2 pa0 db"/>
                    <br/>
                </div>
                <div class="map-setting flex flex-row h1 ma1 w-40 dib">
                    <label for="zoom-setting" class="fw5 w-50 dib">ZOOM:</label> 
                    <input 
                        id="zoom-setting" 
                        name="zoom"
                        placeholder="5"
                        onmousedown="if (!event.target.value) zoom.set(event.target.placeholder)"
                        onmouseup="event.target.select()"
                        onchange="zoom.set(event.target.value)"
                        class="setting bg-transparent w-20 pa0 mr1 db"/>
                </div>
            </div>
            <div class="map-setting flex flex-row h1 ma1">
                <label for="import-data-setting" class="fw5 w-30 dib">IMPORT DATA:</label> 
                <input 
                    id="import-data-setting"
                    name="import-data"
                    placeholder= "comma separated list of KML or GeoJSON files"
                    onmouseup="event.target.select()"
                    type="text"
                    class="setting bg-transparent w-70 pa0 dib"
                    onchange="mapData.set(event.target.value)"/>
                <!--<datalist id="map-datasets">
                    {% for map in site.data.maps %}
                        <option value="{{ map.url }}">{{ map.name }} </option>
                    {% endfor %}
                </datalist>-->
            </div>

            <div id="settings-error" class="red f7 o-40 fw5 pa1 pt2 flex flex-row" style="width: fit-content">
                <span class="b" style="width: fit-content">ERROR: </span> 
                <br/>
                <div id="settings-error-msg"> 
                </div> 
                <br/>
                <a class="black pointer" onclick="hideError()"><small>CLEAR</small></a>
            </div>
        </div>
    </div>
</div>