<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="/assets/img/suruleredotdev_white_bg.svg">
  <link rel="stylesheet" href="/styles.css">

  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

	<title>suruleredotdev</title>

  <script>
    function setMode(mode) {
      if(mode === 'dark') {
        if (!document.querySelector('body').classList.contains('DARK')) document.querySelector('body').classList.add('DARK');
        document.getElementById("logo-dark").style.display = "block";
        document.getElementById("logo-light").style.display = "none";
        document.querySelector('body').classList.remove('LIGHT');
        if (!!codemirror) codemirror.setOption("theme", "material");
      } else if(mode === 'light') {
        if (!document.querySelector('body').classList.contains('LIGHT')) document.querySelector('body').classList.add('LIGHT');
        document.getElementById("logo-light").style.display = "block";
        document.getElementById("logo-dark").style.display = "none";
        document.querySelector('body').classList.remove('DARK');
        if (!!codemirror)  codemirror.setOption("theme", "neo");
      }
    }

    window.addEventListener('DOMContentLoaded', function (e) {
      var hours = (new Date()).getHours();
      var timeOfDayMode = hours > 6 && hours < 20 ? "light" : "dark";
      var mode = !!localStorage.getItem("mode") ? localStorage.getItem("mode") : timeOfDayMode;
      setMode(mode);
    });
  </script>
  <!--
  <script src="/scripts/jquery-1.11.1.min.js"></script>
  <script src="/scripts/turbolinks.js" type="text/javascript" charset="utf-8"></script>
  <script src="/scripts/site.js" type="text/javascript" charset="utf-8"></script>
  -->
</head>

<body class="sans-serif DARK animate-bg">
  <a name="top"></a>
  <a id="logo" href="/"> 
    <img id="logo-dark" src="/assets/img/suruleredotdev_green_bg_bold.svg"/>
    <img id="logo-light" src="/assets/img/suruleredotdev_transparent_bg.svg" style="display: none;"/>
  </a>

  {{ content }}
  
  <footer id="footer" class="ph3 dn db-ns bg-transparent flex flex-row">
    <!-- note the 'mv2' here due to the 'absolute' so we can have this appear as a upward dropdown thing -->
    <div class="w-10 tl mv2 pointer flex flex-row">
      <span id="twitter-link" class="pv2">
        <a class="link" href="https://twitter.com/suruleredotdev">@SURULEREDOTDEV</a>
      </span>
      {% if page.layout == "post" %}
      <div id="share-block" class="w-10 tl pointer flex flex-column absolute pv2" style="bottom: 0; left: calc(2.6 * var(--bg-size));">
        <span class="link dim pv2 hide">
          <a target="_blank" class="no-ul" 
            href="https://twitter.com/intent/tweet?text={{ page.title | append: " https://surulere.dev" | append: page.url | url_encode }}">
            TWITTER
          </a>
        </span>
        <span class="link dim pv2 hide">
          <a target="_blank" class="no-ul"
            href="https://www.facebook.com/sharer/sharer.php?u={{ "https://surulere.dev" | append: page.url | url_encode }}">
            FACEBOOK
          </a>
        </span>
        <span class="link dim pv2 underline">
          <a href="#" class="no-ul">SHARE</a>
        </span>
      </div>
      {% endif %}
    </div>
    <!-- note the 'mv2' here due to the 'absolute' so we can have this appear as a upward dropdown thing -->
    <div id="settings-block" class="w-33-ns tr mv2 pointer flex flex-column absolute" style="bottom:0; right:0;">
    <span id="clear-local-storage" class="link dim ph3 pv2 hide">
        CLEAR LOCAL STORAGE
      </span>
      <span id="dark-mode-toggle" class="link dim ph3 pv2 hide">
        TOGGLE DARK MODE
      </span>
      <script>
        document.getElementById("clear-local-storage").addEventListener("click", function (e) {
          localStorage.clear();
          console.log("[suruleredotdev]: local storage cleared!");
        });
        function toggleVisibility(el) {
          if (el.style.display === "none") {
            el.style.display = "block";
          } else {
            el.style.display = "none";
          }
        }
        document.getElementById("dark-mode-toggle").addEventListener("click", function (e) {
          document.body.classList.toggle("DARK");
          document.body.classList.toggle("LIGHT");
          toggleVisibility(document.getElementById("logo-dark"));
          toggleVisibility(document.getElementById("logo-light"));
          localStorage.setItem('mode', document.body.classList.contains("DARK") === 'dark' ? 'light' : 'dark');
          console.log("toggling dark mode");
          setMode((localStorage.getItem('mode')));
          // codemirror.setOption("theme", (localStorage.getItem('mode') || 'dark') === 'dark' ? 'material' : 'neo');
        });
      </script>

      <span class="link ph3 pv2 underline">
        <a href="#" class="no-ul">SETTINGS</a>
      </span>
    </div>
  </footer>
</body>
