<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="/suruleredotdev.png">
  <link rel="stylesheet" href="/styles.css">

  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

	<title>suruleredotdev</title>
</head>

<body class="sans-serif DARK">
  <a id="logo" href="/"> 
    <img src="/suruleredotdev_green_bg_bold.svg"/>
    <!-- <img src="/suruleredotdev_white_bg.svg"/> -->
  </a>

  {{ content }}
  
  <!--
  <footer id="footer">
    <span>
      twitter: <a class="link" href="https://twitter.com/suruleredotdev">@suruleredotdev</a>
    </span>
    &nbsp;
    &nbsp;
    &nbsp;
    <span>
      <input type=checkbox id="dark-mode"><label for="dark-mode"> dark mode</label>
    </span>
  </footer>
  -->
</body>
